{% extends 'base.html' %}

{% block title %}
	Blueprint index page
{% endblock %}


{% block content_title %}
	Posts
{% endblock %}
  

{% block content %}

	{% for post in pages.items %}
		
		<p>
			<a href="{{ url_for('posts.post_detail', slug=post.slug) }}">{{ post.title }}</a>
		</p>

	{% endfor %}
<nav aria-label="...">
  <ul class="pagination">
    <li {% if not pages.has_prev %} class=""page-item disabled"" {% endif %}>
      <a class="page-link" href="./?page={{ pages.prev_num }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

<!--    <li class="page-item active" aria-current="page">-->
<!--      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
    </li>
      {% for page in pages.iter_pages() %}
        <li {% if page ==pages.page %} class="page-item active" {%endif%}>
            <a class="page-link" href="./?page={{ page }}"> {{ page }}<span class="sr-only">(current)</span></a>
        </li>

      {% endfor %}

    <li {% if not pages.has_next %} class=""page-item disabled"" {% endif %}>
      <a class="page-link" href="./?page={{ pages.next_num }}" tabindex="-1" aria-label="next" aria-hidden="true">Next</a>
    </li>

<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#">Next</a>-->
<!--    </li>-->
  </ul>
</nav>
<!-- <li {% if not pages.has_prev %} class="disabled" {%endif %}> </li>-->
<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Previous">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--      </a>-->
<!--	</li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->



<!--&lt;!&ndash;    <li class="page-item"><a class="page-link" href="#">2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li class="page-item"><a class="page-link" href="#">3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;	<li class="page-item"><a class="page-link" href="#">4</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;	<li class="page-item"><a class="page-link" href="#">5</a></li>&ndash;&gt;-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Next">-->
<!--        <span aria-hidden="true">&raquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->


{% endblock %}
